@page
@model STHT.Pages.IndexModel;


@{
    ViewData["Title"] = "STHT";
    

    // set shipping to zero if country code doesnt exist . 
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-9">
            <p >API Country Name: @Model.ApiCountry</p>

        </div>
        <div class="col-md-1">
                    
                </div>
        <div class="col-md-1">
            <label asp-for="NewShipping.CountryLocale">Country: </label>
            </div>
        <div class="col-md-1">
            <input asp-for="NewShipping.CountryLocale" readonly class="narrow-width"></input>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-md-8">
            <div class="jumbotron hero-image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row gx-5">
                <div class="col">
                    <textarea id="BidPriceTextArea" class="form-control" rows="1" readonly>Bid Price: &pound; @Model.NewShipping.BidPrice</textarea>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col">
                    <button id="bidModalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#bidModal">Place Bid</button>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-md-12">
                    <label>
                        <strong>Shipping Option </strong>
                    </label>
                </div>
            </div>
            <!-- Change component based on the shipping option -->
            @if (Model.NewShipping.DeliveryOption == "DeliveryToYard")
            {
            <div class="row gx-5">
                <div class="col-md-8">
                    <label for="deliverToYard">Delivery to your Yard:</label>
                </div>
                <div class="col-md-4">
                     <label  id="deliverToYard"  name="deliverToYard" >&pound; @Model.NewShipping.ShippingCost </label>
                </div>
            </div>
            } else
            {
            <!-- if shippingPrice == 0 --> 
            <div class="row gx-5">
                <div class="col-md-8">
                    <label for="ownTransportLabel">Own Transport:</label>
                </div>
                <div class="col-md-4">
                <label  id="ownTransportLabel"  name="ownTransportLabel" >&pound; @Model.NewShipping.OwnTransport</label>
                </div>
            </div>
            }
            
            <div class="row gx-5">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <a href="#" id="shippingModalLink" data-toggle="modal" data-target="#shippingModal">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bid Modal -->
<div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
    <form method="post">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bidModalLabel">Place Bid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row gx-5">
                    <div class="col-md-4">
                        <label for="tractorPriceLabel">Tractor Price: </label>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        
                        
                        <label asp-for="NewShipping.BidPrice" id="tractorPriceLabel" name="tractorPriceLabel">&pound; @Model.NewShipping.BidPrice</label>
                        <input type="hidden" asp-for="NewShipping.BidPrice" />
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-md-12">
                        @Html.Partial("Shared/_ShippingPartialView.cshtml")
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-md-4">
                        <label for="totalPriceLabel">Total Price : </label>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <!-- <label asp-for="NewShipping.TotalPrice" id="totalPriceLabel" name="totalPriceLabel">&pound; @Model.NewShipping.TotalPrice</label>
                        <input type="hidden" asp-for="NewShipping.TotalPrice" /> -->
                        
                        <label id="totalPriceLabel" asp-for="NewShipping.TotalPrice">&pound; </label>
                        <input type="hidden" asp-for="NewShipping.TotalPrice" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" asp-for="NewShipping.UserId"/>
                <input type="hidden" asp-for="NewShipping.ProductId"/>
                <input type="hidden" asp-for="NewShipping.ShippingCost"/>
                <input type="hidden" asp-for="NewShipping.CountryLocale"/>
                <input type="hidden" asp-for="NewShipping.BidPrice" />
                <button type="submit" class="btn btn-primary" id="confirmBtn" asp-page-handler="Bidding">Confirm</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    </form>
</div>

<!-- Shipping Modal -->
<div class="modal fade" id="shippingModal" tabindex="-1" role="dialog" aria-labelledby="shippingModalLabel" aria-hidden="true">
    <form method="post">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shippingModalLabel">Shipping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">@Html.Partial("Shared/_ShippingPartialView.cshtml")
            </div>
            <div class="modal-footer">
                <input type="hidden" asp-for="NewShipping.UserId"/>
                <input type="hidden" asp-for="NewShipping.ProductId"/>
                <input type="hidden" asp-for="NewShipping.ShippingCost"/>
                <input type="hidden" asp-for="NewShipping.CountryLocale"/>
                <button type="submit" class="btn btn-primary" asp-page-handler="UpdateShipping">Update changes</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    </form>
</div>
@section Scripts {
    <script>
    //Ensuring that the DOM contents are fully loaded before manipulating elements
    $(document).ready(function() {
        const bidPrice = @Model.NewShipping.BidPrice;
        const shippingCost = @Model.NewShipping.ShippingCost;
        const totalPriceLabel = $('#totalPriceLabel');
        const deliveryToYardRadio = $('#deliveryToYard');
        const ownTransportRadio = $('#ownTransport');
    
        function updateTotalPrice() {
            if (deliveryToYardRadio.is(':checked')) {
                totalPriceLabel.text('£' + (bidPrice + shippingCost));
            } else if (ownTransportRadio.is(':checked')) {
                totalPriceLabel.text('£' + bidPrice);
            }
        }
   
        deliveryToYardRadio.change(updateTotalPrice);
        ownTransportRadio.change(updateTotalPrice);
    
        // Initial calculation On Load
        updateTotalPrice();
    });
        
    </script>
}
